*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #242121;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #292828;
    ;
    padding: 5px 15px;
}
.navbar > div{
    cursor: pointer;
}
.logo-div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.menu-icon{
    display: none;
}
.search-div{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 42rem;
    margin: 0 25px;
}
.input-div{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #494949;
    flex-grow: 1;
    padding: 4px 8px;
}
.input-div input{
    background-color: #494949;
    border: none;
    outline: none;
    color: white;
    flex-grow: 1;
    padding: 5px;
    font-size: 14px;
}
.search-div button{
    background-color: #373737;
    color: #777777;
    cursor: pointer;
    padding: 8px 18px;
    border: 1px solid #777777;
}
.icons-div{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.profile-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-book{
    margin: 2rem 4rem;
    min-height: 160px;
}

.show-books{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}
.show-books > div{
    min-width: 30%;
    height: 160px;
}

.book-details, .show-details{
    display: flex;
    align-items: center;
    background-color: #415F71;
    color: white;
    height: 100%;
}

.book-details .book-img, .show-details .show-img{
    min-width: 110px;
    max-width: 110px;
    height: 140px;
    transform: rotateZ(-5deg);
    scale: 1.2;
    border-right: 10px solid white;
}
.show-desc{
    padding: 5px;
    padding-left: 35px;
}
.show-books .show-title{
    font-size: 18px;
    font-weight: 600;
}
.show-books .description{
    padding: 10px 0;
    width: 380px;
    height: auto;
    overflow: hidden;
}
.nowread-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}



.book-img img, .show-img img{
    width: 100%;
    height: 100%;
}

.details{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 30px 20px 30px 60px;
}
.details .title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 3px;
}
.details .authors{
    font-size: 18px;
    margin-bottom: 30px;
}
.book-ratings{
    display: flex;
    flex-wrap: wrap;
}
.book-ratings > div{
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #8fa0ac;
}
.published{
    padding: 20px 0;
    height: calc(100% - 40px);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #aec0cc  ;
}
.show-books button{
    border: none;
    padding: 6px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}
.published button{
    padding: 5px;
    margin: 0 5px 5px 0;
    font-size: 12px;
}



.books-container{
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    overflow-y: scroll;
}
.books-container::-webkit-scrollbar{
    width: 10px;
    cursor: pointer;
}
.books-container::-webkit-scrollbar-thumb {
    background-color: #c6c5c5 ; 
    border-radius: 10px;
}
.books-container h1{
    margin-bottom: 20px;
    color: white;
}
.books{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.4rem;
}

.book{
    width: 145px;
    height: 200px;
    cursor: pointer;
    background-color: rgb(255, 145, 0);
}
.book:hover{
    scale: 1.1;
}
.unavailable{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
}
.img-div{
    width: 100%;
    height: 100%;
}
.img-div img{
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 1300px) {
    #bookid-1{
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .icons-div{
        display: none;
    }
    .menu-icon{
        display: block;
        color: white;
        font-size: 25px;
    }
}

@media screen and (max-width: 800px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        gap: 10px;
        padding: 10px;
    }
    .search-div{
        width: 100%;
        margin: 0;
    }
    .menu-icon{
        position: absolute;
        top: 30px;
        right: 20px;
    }
    .details{
        margin: 10px 10px 10px 25px;
    }
    .details .title{
        font-size: 16px;
    }
    .details .authors{
        font-size: 16px;
    }
    .details .book-ratings{
        font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    .current-book div{
        width: 100%;
    }
    .show-desc{
        width: 100%;
    }
    .show-books .show-title{
        font-size: 16px;
        margin-top: 5px;
    }
    .show-books .description{
        width: 100%;
        font-size: 14px;
    }
    .nowread-button{
        scale: 0.9;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 600px) {
    .current-book{
        margin: 2rem 3rem;
    }
}
@media screen and (max-width: 540px) {
    .details .book-ratings{
        display: none;
    }
    .book-details{
        position: relative;
    }
    .details{
        width: 60%;
    }
    .published{
        width: 60%;
    }
}
@media screen and (max-width: 475px) {
    .current-book{
        margin: 2rem 2rem;  
    }
    .show-books .show-title{
        font-size: 14px;
    }
    .show-books .description{
        font-size: 12px;
    }
    .books{
        justify-content: center;
        gap: 3.4rem;
    }
}

@media screen and (max-width: 400px) {
    .logo-div .logo1 svg{
        width: 65px;
    }
    .logo-div .logo2 svg{
        width: 120px;
    }
    .search-div{
        gap: 4px;
    }
    .input-div div{
        display: none;
    }
    .search-div button{
        font-size: 12px;
        padding: 8px 10px;
    }
    
    .show-books .description{
        display: none;
    }
    .show-details{
        height: 120px;
    }
    .show-books > div{
        height: 140px;
    }
    .show-details .show-img{
        min-width: 80px;
        max-width: 80px;
        height: 120px;
    }
    .published button{
        scale: 0.9;
    }
}